openapi: 3.0.3
info:
  title: Prior API (frozen contract snapshot)
  version: 0.3.x
  description: >
    Frozen snapshot of the sync/auth surface. Breaking changes to these
    operations require a contract review (scripts/check-contracts.sh).
servers:
  - url: https://api.prior.constantsuchet.fr
paths:
  /v1/account-data/sync:
    post:
      summary: Merge account document patches and return the account snapshot
      description: Authenticated. Up to 100 UUID-idempotent mutations; each has key, patch (object or null), and optional seed. Deleted documents remain tombstones.
      responses:
        '200':
          description: Records (key/value) and applied mutation UUIDs
        '400':
          description: Invalid mutation batch
        '401':
          description: unauthenticated
  /v1/note-attachments:
    get:
      summary: List the current user's attachment metadata
      responses:
        '200':
          description: Array of id, name, type, size
        '401':
          description: unauthenticated
  /v1/note-attachments/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
    put:
      summary: Upload an immutable attachment (maximum 8 MiB)
      parameters:
        - in: query
          name: name
          required: true
          schema:
            type: string
      responses:
        '200':
          description: saved
        '401':
          description: unauthenticated
        '413':
          description: too large
    get:
      summary: Download an attachment owned by the current user
      responses:
        '200':
          description: Attachment bytes
        '401':
          description: unauthenticated
        '404':
          description: not found
  /health:
    get:
      summary: Liveness probe (no DB access)
      responses:
        '200':
          description: ok
  /ready:
    get:
      summary: Readiness probe (pings PostgreSQL)
      responses:
        '200':
          description: ready
        '503':
          description: not ready
  /v1/me:
    get:
      summary: Current profile
      responses:
        '200':
          description: user
        '401':
          description: unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthenticated'
  /v1/settings:
    get:
      summary: Per-user assistant settings
      responses:
        '200':
          description: settings
        '401':
          description: unauthenticated
    post:
      summary: Save assistant settings
      responses:
        '200':
          description: settings
        '401':
          description: unauthenticated
  /v1/calendar/ics:
    post:
      summary: Fetch a user-provided ICS feed through the Prior server proxy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url:
                  type: string
                  format: uri
      responses:
        '200':
          description: ICS calendar content
          content:
            text/calendar:
              schema:
                type: string
        '400':
          description: invalid or non-public URL
        '401':
          description: unauthenticated
        '502':
          description: upstream calendar unavailable
  /v1/sync/pull:
    get:
      summary: Pull task/habit changes since a revision
      parameters:
        - name: since
          in: query
          schema:
            type: integer
            minimum: 0
      responses:
        '200':
          description: changes
        '401':
          description: unauthenticated
  /v1/sync/push:
    post:
      summary: Push up to 100 task/habit mutations (unknown fields ignored)
      responses:
        '200':
          description: applied mutations
        '401':
          description: unauthenticated
  /v1/workspace/sync:
    post:
      summary: Merge a workspace snapshot (unknown fields ignored)
      responses:
        '200':
          description: merged snapshot
        '401':
          description: unauthenticated
  /v1/agent/chats:
    get:
      summary: List agent chats
      responses:
        '200':
          description: chats
        '401':
          description: unauthenticated
    post:
      summary: Create an agent chat
      responses:
        '201':
          description: chat
  /v1/sessions:
    get:
      summary: List active sessions for the current token owner
      responses:
        '200':
          description: sessions
    delete:
      summary: Revoke all sessions (sign out everywhere)
      responses:
        '204':
          description: revoked
  /v1/mcp/tokens:
    post:
      summary: Mint a Claude Code / MCP access key (session auth; key only works on /mcp)
      description: Optional body {"name"}. Returns token (shown once), name and expiresAt. The key is a session with platform "mcp".
      responses:
        '201':
          description: token
        '401':
          description: unauthenticated
  /mcp:
    post:
      summary: Remote MCP server (Streamable HTTP, stateless JSON-RPC). See specs/MCP.md.
      responses:
        '200':
          description: JSON-RPC response
        '202':
          description: notification accepted
        '401':
          description: unauthenticated
  /v1/agent/complete:
    post:
      summary: Server-side completion proxy (Prior AI or the user's stored OpenRouter key)
      description: Accepts model, prompt, system, history, webSearch, an optional reasoningEffort (none/minimal/low/medium/high/xhigh; omitted or auto means the provider default), purpose (agent/recommendations/mail/calendar), provider ("hosted" forces Prior AI) and json (request a JSON object). Without provider, the stored OpenRouter key is used and Prior AI is the fallback. Hosted requests pick the model per purpose and count toward a daily per-user cap (429 when reached). See specs/AI.md.
      responses:
        '200':
          description: completion with content, actualModel and provider (hosted or openrouter)
        '429':
          description: daily Prior AI limit reached
        '503':
          description: Prior AI is not configured on this server
  /v1/agent/hosted:
    get:
      summary: Prior AI availability for the signed-in user
      description: Returns available, transcription, dailyLimit, usedToday and, when available, the model per purpose.
      responses:
        '200':
          description: hosted AI status
  /v1/collaboration/invites/preview:
    get:
      summary: Public preview of a pending invite for the invite landing (query token)
      description: Returns projectName, projectIcon, inviterName, inviterAvatarUrl, memberCount, role and status (pending, accepted, expired). A wrong token returns 404 and reveals nothing.
      responses:
        '200':
          description: invite preview
        '404':
          description: unknown token
  /v1/game:
    get:
      summary: Gamified mode state (see specs/GAMIFICATION.md)
      description: Returns profile (settings, XP progress, rank, streak, pet, equipped, unlocked name effects, today's task XP and the daily cap), inventory, achievements with progress, unopened chests and unseen celebration events. XP is only earned through sync.
      responses:
        '200':
          description: game state
        '401':
          description: unauthenticated
  /v1/game/settings:
    patch:
      summary: Update onboarding version and game settings
      description: Partial update of onboardingVersion, enabled, visibility (public, anonymous, hidden), effects (full, subtle, off), sounds and timeZone. The first switch to enabled gives the egg and starter items and credits the last 90 days of completed tasks once. Unknown fields are refused.
      responses:
        '200':
          description: profile
        '400':
          description: invalid settings
  /v1/game/handle:
    get:
      summary: Check whether a handle is available (query handle)
      responses:
        '200':
          description: available and reason (format, reserved, blocked, taken)
    put:
      summary: Claim a public handle
      responses:
        '200':
          description: normalized handle
        '400':
          description: INVALID_HANDLE with reason
        '409':
          description: handle taken
  /v1/game/equip:
    put:
      summary: Equip an owned item or unlocked name effect in a slot (empty itemId clears it)
      responses:
        '200':
          description: equipped slots
        '403':
          description: item not owned or not unlocked
  /v1/game/pinned:
    put:
      summary: Pin up to three unlocked achievements to the profile card
      responses:
        '200':
          description: pinned achievements
  /v1/game/pet:
    put:
      summary: Name the pet (24 characters at most)
      responses:
        '200':
          description: pet name
  /v1/game/chests/{chestID}/open:
    post:
      summary: Open a chest; contents were rolled when it was granted, and opening twice returns the same drops
      responses:
        '200':
          description: drops, with owned items converted to stardust
        '404':
          description: unknown chest
  /v1/game/craft:
    post:
      summary: Spend stardust on a catalog item
      responses:
        '200':
          description: remaining stardust
        '409':
          description: not enough stardust
  /v1/game/events/ack:
    post:
      summary: Mark celebration events up to upTo as shown
      responses:
        '204':
          description: acknowledged
  /v1/game/leaderboards/{board}:
    get:
      summary: All-time board of visible gamified players, board level or streak (query limit, 100 max)
      description: Players appear by handle or as an anonymous animal, never by email or real name. me is the viewer's own entry, also outside the top.
      responses:
        '200':
          description: board
  /v1/game/league:
    get:
      summary: The viewer's weekly league cohort, promotion and demotion zones and last result
      responses:
        '200':
          description: league
  /v1/game/projects/{projectID}/leaderboard:
    get:
      summary: Project leaderboard (mode off, competitive or team) for project members
      responses:
        '200':
          description: board with members who opted in
        '404':
          description: not a member
    put:
      summary: Owner sets mode and teamGoalXp
      responses:
        '204':
          description: saved
        '403':
          description: not the owner
  /v1/game/projects/{projectID}/leaderboard/choice:
    put:
      summary: A member joins or leaves a project leaderboard ({"joined"})
      responses:
        '204':
          description: saved
  /v1/game/kudos:
    post:
      summary: Give kudos for a teammate's completed shared-project task ({"taskId"})
      responses:
        '204':
          description: given (repeats are ignored)
        '403':
          description: not allowed
components:
  schemas:
    Unauthenticated:
      type: object
      required: [code]
      properties:
        code:
          type: string
          example: UNAUTHENTICATED
        error:
          type: string
