openapi: 3.0.3
info:
  title: Prior API (frozen contract snapshot)
  version: 0.3.x
  description: >
    Frozen snapshot of the sync/auth surface. Breaking changes to these
    operations require a contract review (scripts/check-contracts.sh).
servers:
  - url: https://api.prior.constantsuchet.fr
paths:
  /v1/account-data/sync:
    post:
      summary: Merge account document patches and return the account snapshot
      description: Authenticated. Up to 100 UUID-idempotent mutations; each has key, patch (object or null), and optional seed. Deleted documents remain tombstones.
      responses:
        '200':
          description: Records (key/value) and applied mutation UUIDs
        '400':
          description: Invalid mutation batch
        '401':
          description: unauthenticated
  /v1/note-attachments:
    get:
      summary: List the current user's attachment metadata
      responses:
        '200':
          description: Array of id, name, type, size
        '401':
          description: unauthenticated
  /v1/note-attachments/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
    put:
      summary: Upload an immutable attachment (maximum 8 MiB)
      parameters:
        - in: query
          name: name
          required: true
          schema:
            type: string
      responses:
        '200':
          description: saved
        '401':
          description: unauthenticated
        '413':
          description: too large
    get:
      summary: Download an attachment owned by the current user
      responses:
        '200':
          description: Attachment bytes
        '401':
          description: unauthenticated
        '404':
          description: not found
  /health:
    get:
      summary: Liveness probe (no DB access)
      responses:
        '200':
          description: ok
  /ready:
    get:
      summary: Readiness probe (pings PostgreSQL)
      responses:
        '200':
          description: ready
        '503':
          description: not ready
  /v1/me:
    get:
      summary: Current profile
      description: The user plus account flags (emailVerified, emailVerifiedAt, hasPassword, googleLinked, twoFactorEnabled, locale, createdAt). Never a secret.
      responses:
        '200':
          description: user
        '401':
          description: unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthenticated'
    delete:
      summary: Delete the account and its data (specs/ACCOUNT.md)
      description: >
        Re-authentication is required: `email` must match the account; password accounts send
        `password`; Google-only accounts need a session that signed in less than 10 minutes ago;
        accounts with 2FA also send `code` (TOTP) or `recoveryCode`. Any active Stripe subscription is
        canceled first. Shared projects the user owns move to the oldest editor (else the oldest member);
        projects without another member are deleted. Rate-limited per token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Reauth'
      responses:
        '204':
          description: deleted; every session is revoked
        '400':
          description: EMAIL_MISMATCH, INVALID_CODE or invalid body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodedError'
        '403':
          description: INVALID_PASSWORD, REAUTH_REQUIRED or TWO_FACTOR_REQUIRED
        '429':
          description: TWO_FACTOR_LOCKED or RATE_LIMITED
        '502':
          description: BILLING_CANCEL_FAILED (nothing was deleted)
  /v1/me/export:
    get:
      summary: Download the account's data as a zip
      description: >
        profile.json, tasks.json, tasks.csv, habits.json, areas.json, projects.json (personal and shared;
        other members by display name and role only), notes.json, attachments/, settings.json (no keys),
        assistant-chats.json, comments.json, game.json, README.txt. Never password hashes, tokens, API keys or OAuth tokens.
        Rate-limited per token.
      responses:
        '200':
          description: application/zip attachment
        '401':
          description: unauthenticated
  /v1/auth/password/forgot:
    post:
      summary: Email a password reset link
      description: Always 202, whether or not the account exists. Links expire after 30 minutes. At most one email a minute and five an hour per account; auth rate limit per IP.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email: { type: string }
                language: { type: string, enum: [en, fr, de, es, pt] }
      responses:
        '202':
          description: accepted
  /v1/auth/password/reset:
    post:
      summary: Set a new password with a reset token
      description: Single-use token; success revokes every session (MCP keys included) and verifies the email.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [token, password]
              properties:
                token: { type: string }
                password: { type: string, minLength: 8, maxLength: 128 }
      responses:
        '204':
          description: password changed
        '400':
          description: TOKEN_INVALID or INVALID_PASSWORD
  /v1/auth/email/verify:
    post:
      summary: Confirm an email address with a verification token (24 h, single-use)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token: { type: string }
      responses:
        '200':
          description: '{"verified": true}'
        '400':
          description: TOKEN_INVALID
  /v1/auth/email/verify/resend:
    post:
      summary: Send the verification email again
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                language: { type: string }
      responses:
        '202':
          description: sent
        '200':
          description: '{"alreadyVerified": true}'
        '429':
          description: RATE_LIMITED (one a minute, five an hour)
        '502':
          description: the email provider refused the message
  /v1/auth/login:
    post:
      summary: Password sign-in
      description: >
        Returns `{token, user}`, or `{twoFactorRequired: true, challenge, expiresAt}` when 2FA is on.
        POST /v1/auth/exchange and POST /v1/auth/google/native answer the same way.
      responses:
        '200':
          description: session or 2FA challenge
        '401':
          description: invalid credentials
  /v1/auth/2fa:
    get:
      summary: Two-factor status
      responses:
        '200':
          description: '{"enabled": bool, "available": bool, "recoveryCodesLeft": int}'
  /v1/auth/2fa/setup:
    post:
      summary: Start TOTP setup
      description: Returns `{secret, otpauthUrl}`; the secret is stored sealed (AES-256-GCM, TOTP_ENCRYPTION_KEY) until confirmed.
      responses:
        '200':
          description: secret and otpauth URI
        '409':
          description: TWO_FACTOR_ENABLED
        '503':
          description: TWO_FACTOR_UNAVAILABLE (no TOTP_ENCRYPTION_KEY)
  /v1/auth/2fa/enable:
    post:
      summary: Confirm setup with a 6-digit code
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code: { type: string }
      responses:
        '200':
          description: '{"recoveryCodes": [10 single-use codes]} shown once'
        '400':
          description: INVALID_CODE or TWO_FACTOR_NOT_STARTED
  /v1/auth/2fa/disable:
    post:
      summary: Turn 2FA off (re-authentication plus a code)
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Reauth'
      responses:
        '204':
          description: disabled
        '403':
          description: INVALID_PASSWORD, REAUTH_REQUIRED or TWO_FACTOR_REQUIRED
  /v1/auth/2fa/recovery-codes:
    post:
      summary: Replace the recovery codes (needs a current TOTP code)
      responses:
        '200':
          description: '{"recoveryCodes": [...]}'
  /v1/auth/2fa/verify:
    post:
      summary: Finish a 2FA sign-in
      description: >
        `{challenge, code}` or `{challenge, recoveryCode}`. Accepts the current step ±1; a used step is refused.
        A challenge lives 5 minutes and allows 5 attempts; 10 consecutive failures lock verification for 15 minutes.
      responses:
        '200':
          description: '{token, user}'
        '400':
          description: INVALID_CODE or CHALLENGE_EXPIRED
        '429':
          description: TWO_FACTOR_LOCKED
  /v1/settings:
    get:
      summary: Per-user assistant settings
      responses:
        '200':
          description: settings
        '401':
          description: unauthenticated
    post:
      summary: Save assistant settings
      responses:
        '200':
          description: settings
        '401':
          description: unauthenticated
  /v1/calendar/ics:
    post:
      summary: Fetch a user-provided ICS feed through the Prior server proxy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url:
                  type: string
                  format: uri
      responses:
        '200':
          description: ICS calendar content
          content:
            text/calendar:
              schema:
                type: string
        '400':
          description: invalid or non-public URL
        '401':
          description: unauthenticated
        '502':
          description: upstream calendar unavailable
  /v1/sync/pull:
    get:
      summary: Pull task/habit changes since a revision
      parameters:
        - name: since
          in: query
          schema:
            type: integer
            minimum: 0
      responses:
        '200':
          description: changes
        '401':
          description: unauthenticated
  # Task snapshots (push and pull) also carry optional reminderAt (RFC 3339,
  # stored in UTC) and checklist ([{id, title, done, position}], at most 100),
  # and recurrence ({interval 1-365, unit day|week|month|year, daysOfWeek?
  # (0 = Sunday, weekly only), basis? "completion", until? YYYY-MM-DD} or null).
  # Like assigneeId and relations, an omitted recurrence keeps the stored rule.
  /v1/sync/push:
    post:
      summary: Push up to 100 task/habit mutations (unknown fields ignored)
      responses:
        '200':
          description: applied mutations
        '401':
          description: unauthenticated
  /v1/workspace/sync:
    post:
      summary: Merge a workspace snapshot (unknown fields ignored)
      responses:
        '200':
          description: merged snapshot
        '401':
          description: unauthenticated
  /v1/agent/chats:
    get:
      summary: List agent chats
      responses:
        '200':
          description: chats
        '401':
          description: unauthenticated
    post:
      summary: Create an agent chat
      responses:
        '201':
          description: chat
  /v1/sessions:
    get:
      summary: List active sessions for the current token owner
      responses:
        '200':
          description: sessions
    delete:
      summary: Revoke all sessions (sign out everywhere)
      responses:
        '204':
          description: revoked
  /v1/mcp/tokens:
    post:
      summary: Mint a Claude Code / MCP access key (session auth; key only works on /mcp)
      description: Optional body {"name"}. Returns token (shown once), name and expiresAt. The key is a session with platform "mcp".
      responses:
        '201':
          description: token
        '401':
          description: unauthenticated
  /mcp:
    post:
      summary: Remote MCP server (Streamable HTTP, stateless JSON-RPC). See specs/MCP.md.
      responses:
        '200':
          description: JSON-RPC response
        '202':
          description: notification accepted
        '401':
          description: unauthenticated
  /v1/agent/complete:
    post:
      summary: Server-side completion proxy (Prior AI or the user's stored OpenRouter key)
      description: Accepts model, prompt, system, history, webSearch, an optional reasoningEffort (none/minimal/low/medium/high/xhigh; omitted or auto means the provider default), purpose (agent/recommendations/mail/calendar), provider ("hosted" forces Prior AI) and json (request a JSON object). Without provider, the stored OpenRouter key is used and Prior AI is the fallback. Hosted requests pick the model per purpose and count toward a daily per-user cap (429 when reached). See specs/AI.md.
      responses:
        '200':
          description: completion with content, actualModel and provider (hosted or openrouter)
        '429':
          description: daily Prior AI limit reached
        '503':
          description: Prior AI is not configured on this server
  /v1/agent/hosted:
    get:
      summary: Prior AI availability for the signed-in user
      description: Returns available, transcription, dailyLimit, usedToday and, when available, the model per purpose.
      responses:
        '200':
          description: hosted AI status
  /v1/collaboration/invites/preview:
    get:
      summary: Public preview of a pending invite for the invite landing (query token)
      description: Returns projectName, projectIcon, inviterName, inviterAvatarUrl, memberCount, role and status (pending, accepted, expired). A wrong token returns 404 and reveals nothing.
      responses:
        '200':
          description: invite preview
        '404':
          description: unknown token
  /v1/collaboration/projects/{projectID}:
    patch:
      summary: Edit a shared project (owner and editors)
      description: Any of name, description, status, icon, projectType ("standard" or "software"), health, startDate, targetDate, cycles and milestones. Omitted fields keep their value; null clears nullable ones. Broadcasts collaboration_required to the project's members.
      responses:
        '200':
          description: the project with role, members (each with online) and, for the owner, pending invites
        '400':
          description: invalid field
        '403':
          description: viewers cannot edit
  /v1/collaboration/projects/{projectID}/members:
    post:
      summary: Invite an email ({"email", "role", "language"?}) or change an existing member's role
      description: Owner only, rate-limited per account. An invitation is emailed in the given language (Resend) and announced in real time (invites_required) when the email already has an account; it still has to be accepted. Returns {invite, inviteLink, emailSent} or {member}.
      responses:
        '200':
          description: invite or member
        '402':
          description: plan limit (PLAN_LIMIT)
        '403':
          description: not the owner
  /v1/collaboration/projects/{projectID}/members/{userID}:
    delete:
      summary: Remove a member (owner), or leave the project (the member themselves)
      responses:
        '204':
          description: removed
        '403':
          description: the owner cannot be removed; others can only remove themselves
  /v1/collaboration/projects/{projectID}/invites/{inviteID}/resend:
    post:
      summary: Give a pending invite a fresh link ({"email": false} to skip the email)
      description: Owner only. Only a hash of each link is stored, so the previous link stops working. Returns {invite, inviteLink, emailSent}.
      responses:
        '200':
          description: invite with its new link
        '404':
          description: unknown or accepted invite
  /v1/collaboration/projects/{projectID}/activity:
    get:
      summary: Tasks completed and created per day and person over the last year (query tz, an IANA time zone)
      description: Any member. Returns {entries: [{date, userId, completed, created}], days, timeZone}; a completion is a change that marks a task done, credited to whoever pushed it.
      responses:
        '200':
          description: activity entries
        '404':
          description: not a member
  /v1/collaboration/projects/{projectID}/tasks/{taskID}/comments:
    get:
      summary: Comment thread of a shared-project task, oldest first (see specs/COMMENTS.md)
      description: Any active project member. Reading marks the caller's mentions in the thread as read. Rate-limited per user.
      responses:
        '200':
          description: comments (TaskComment[])
        '404':
          description: not a member, or the task is not in this project
    post:
      summary: Post a comment ({"id"?, "body", "mentions"?})
      description: Owner and editors. body is plain text, 1 to 4000 characters. id is an optional client UUID that makes a retried post idempotent. mentions are user ids; the server keeps only active project members other than the author. Broadcasts comments_required to members and mentions_required to people newly mentioned.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CommentInput' }
      responses:
        '201':
          description: the comment
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskComment' }
        '400':
          description: invalid body or id
        '403':
          description: viewers cannot comment, or the id belongs to someone else's comment
        '404':
          description: not a member, or unknown task
  /v1/collaboration/projects/{projectID}/tasks/{taskID}/comments/{commentID}:
    patch:
      summary: Edit a comment ({"body", "mentions"?}); author only, while they have write access
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CommentInput' }
      responses:
        '200':
          description: the comment, with editedAt
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TaskComment' }
        '403':
          description: not the author, or read-only
        '404':
          description: unknown comment
    delete:
      summary: Delete a comment (soft delete); the author or the project owner
      responses:
        '204':
          description: deleted
        '403':
          description: not allowed
        '404':
          description: unknown comment
  /v1/collaboration/mentions:
    get:
      summary: The caller's newest 50 @mentions in projects they still belong to, and the unread count
      responses:
        '200':
          description: mentions (MentionNotification[]) and unread
  /v1/collaboration/mentions/read:
    post:
      summary: Mark mentions as read ({"commentIds"}, at most 200; empty marks all)
      responses:
        '204':
          description: marked
        '400':
          description: invalid ids
  /v1/game:
    get:
      summary: Gamified mode state (see specs/GAMIFICATION.md)
      description: Returns profile (settings, XP progress, rank, streak, pet, equipped, unlocked name effects, today's task XP and the daily cap), inventory, achievements with progress, unopened chests and unseen celebration events. XP is only earned through sync.
      responses:
        '200':
          description: game state
        '401':
          description: unauthenticated
  /v1/game/settings:
    patch:
      summary: Update onboarding version and game settings
      description: Partial update of onboardingVersion, enabled, visibility (public, anonymous, hidden), effects (full, subtle, off), sounds and timeZone. The first switch to enabled gives the egg and starter items and credits the last 90 days of completed tasks once. Unknown fields are refused.
      responses:
        '200':
          description: profile
        '400':
          description: invalid settings
  /v1/game/handle:
    get:
      summary: Check whether a handle is available (query handle)
      responses:
        '200':
          description: available and reason (format, reserved, blocked, taken)
    put:
      summary: Claim a public handle
      responses:
        '200':
          description: normalized handle
        '400':
          description: INVALID_HANDLE with reason
        '409':
          description: handle taken
  /v1/game/equip:
    put:
      summary: Equip an owned item or unlocked name effect in a slot (empty itemId clears it)
      responses:
        '200':
          description: equipped slots
        '403':
          description: item not owned or not unlocked
  /v1/game/pinned:
    put:
      summary: Pin up to three unlocked achievements to the profile card
      responses:
        '200':
          description: pinned achievements
  /v1/game/pet:
    put:
      summary: Name the pet (24 characters at most)
      responses:
        '200':
          description: pet name
  /v1/game/chests/{chestID}/open:
    post:
      summary: Open a chest; contents were rolled when it was granted, and opening twice returns the same drops
      responses:
        '200':
          description: drops, with owned items converted to stardust
        '404':
          description: unknown chest
  /v1/game/craft:
    post:
      summary: Spend stardust on a catalog item
      responses:
        '200':
          description: remaining stardust
        '409':
          description: not enough stardust
  /v1/game/events/ack:
    post:
      summary: Mark celebration events up to upTo as shown
      responses:
        '204':
          description: acknowledged
  /v1/game/leaderboards/{board}:
    get:
      summary: All-time board of visible gamified players, board level or streak (query limit, 100 max)
      description: Players appear by handle or as an anonymous animal, never by email or real name. me is the viewer's own entry, also outside the top.
      responses:
        '200':
          description: board
  /v1/game/league:
    get:
      summary: The viewer's weekly league cohort, promotion and demotion zones and last result
      responses:
        '200':
          description: league
  /v1/game/projects/{projectID}/leaderboard:
    get:
      summary: Project leaderboard (mode off, competitive or team) for project members
      responses:
        '200':
          description: board with members who opted in
        '404':
          description: not a member
    put:
      summary: Owner sets mode and teamGoalXp
      responses:
        '204':
          description: saved
        '403':
          description: not the owner
  /v1/game/projects/{projectID}/leaderboard/choice:
    put:
      summary: A member joins or leaves a project leaderboard ({"joined"})
      responses:
        '204':
          description: saved
  /v1/game/kudos:
    post:
      summary: Give kudos for a teammate's completed shared-project task ({"taskId"})
      responses:
        '204':
          description: given (repeats are ignored)
        '403':
          description: not allowed
components:
  schemas:
    CodedError:
      type: object
      properties:
        code: { type: string }
        error: { type: string }
    TaskComment:
      type: object
      properties:
        id: { type: string, format: uuid }
        taskId: { type: string, format: uuid }
        projectId: { type: string, format: uuid }
        author:
          nullable: true
          description: null once the author deleted their account ("Deleted user")
          type: object
          properties:
            id: { type: string }
            displayName: { type: string }
            avatarUrl: { type: string }
        body: { type: string, maxLength: 4000 }
        mentions: { type: array, items: { type: string, format: uuid } }
        createdAt: { type: string, format: date-time }
        editedAt: { type: string, format: date-time }
    CommentInput:
      type: object
      required: [body]
      properties:
        id: { type: string, format: uuid, description: POST only }
        body: { type: string, minLength: 1, maxLength: 4000 }
        mentions: { type: array, items: { type: string, format: uuid } }
    MentionNotification:
      type: object
      properties:
        commentId: { type: string, format: uuid }
        taskId: { type: string, format: uuid }
        taskTitle: { type: string }
        projectId: { type: string, format: uuid }
        projectName: { type: string }
        authorName: { type: string }
        excerpt: { type: string, description: at most 160 characters }
        createdAt: { type: string, format: date-time }
        readAt: { type: string, format: date-time }
    Reauth:
      type: object
      properties:
        email: { type: string, description: 'DELETE /v1/me only: must equal the account email' }
        password: { type: string }
        code: { type: string, description: 6-digit TOTP code }
        recoveryCode: { type: string }
    Unauthenticated:
      type: object
      required: [code]
      properties:
        code:
          type: string
          example: UNAUTHENTICATED
        error:
          type: string
