openapi: 3.0.3
info:
  title: Prior API (frozen contract snapshot)
  version: 0.3.x
  description: >
    Frozen snapshot of the sync/auth surface. Breaking changes to these
    operations require a contract review (scripts/check-contracts.sh).
servers:
  - url: https://api.prior.constantsuchet.fr
paths:
  /v1/account-data/sync:
    post:
      summary: Merge account document patches and return the account snapshot
      description: Authenticated. Up to 100 UUID-idempotent mutations; each has key, patch (object or null), and optional seed. Deleted documents remain tombstones.
      responses:
        '200':
          description: Records (key/value) and applied mutation UUIDs
        '400':
          description: Invalid mutation batch
        '401':
          description: unauthenticated
  /v1/note-attachments:
    get:
      summary: List the current user's attachment metadata
      responses:
        '200':
          description: Array of id, name, type, size
        '401':
          description: unauthenticated
  /v1/note-attachments/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
    put:
      summary: Upload an immutable attachment (maximum 8 MiB)
      parameters:
        - in: query
          name: name
          required: true
          schema:
            type: string
      responses:
        '200':
          description: saved
        '401':
          description: unauthenticated
        '413':
          description: too large
    get:
      summary: Download an attachment owned by the current user
      responses:
        '200':
          description: Attachment bytes
        '401':
          description: unauthenticated
        '404':
          description: not found
  /health:
    get:
      summary: Liveness probe (no DB access)
      responses:
        '200':
          description: ok
  /ready:
    get:
      summary: Readiness probe (pings PostgreSQL)
      responses:
        '200':
          description: ready
        '503':
          description: not ready
  /v1/me:
    get:
      summary: Current profile
      responses:
        '200':
          description: user
        '401':
          description: unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthenticated'
  /v1/settings:
    get:
      summary: Per-user assistant settings
      responses:
        '200':
          description: settings
        '401':
          description: unauthenticated
    post:
      summary: Save assistant settings
      responses:
        '200':
          description: settings
        '401':
          description: unauthenticated
  /v1/calendar/ics:
    post:
      summary: Fetch a user-provided ICS feed through the Prior server proxy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url:
                  type: string
                  format: uri
      responses:
        '200':
          description: ICS calendar content
          content:
            text/calendar:
              schema:
                type: string
        '400':
          description: invalid or non-public URL
        '401':
          description: unauthenticated
        '502':
          description: upstream calendar unavailable
  /v1/sync/pull:
    get:
      summary: Pull task/habit changes since a revision
      parameters:
        - name: since
          in: query
          schema:
            type: integer
            minimum: 0
      responses:
        '200':
          description: changes
        '401':
          description: unauthenticated
  /v1/sync/push:
    post:
      summary: Push up to 100 task/habit mutations (unknown fields ignored)
      responses:
        '200':
          description: applied mutations
        '401':
          description: unauthenticated
  /v1/workspace/sync:
    post:
      summary: Merge a workspace snapshot (unknown fields ignored)
      responses:
        '200':
          description: merged snapshot
        '401':
          description: unauthenticated
  /v1/agent/chats:
    get:
      summary: List agent chats
      responses:
        '200':
          description: chats
        '401':
          description: unauthenticated
    post:
      summary: Create an agent chat
      responses:
        '201':
          description: chat
  /v1/sessions:
    get:
      summary: List active sessions for the current token owner
      responses:
        '200':
          description: sessions
    delete:
      summary: Revoke all sessions (sign out everywhere)
      responses:
        '204':
          description: revoked
  /v1/agent/complete:
    post:
      summary: Optional server-side OpenRouter proxy (allowlisted models only)
      description: Accepts model, prompt, system, history, webSearch and an optional reasoningEffort (none/minimal/low/medium/high/xhigh; omitted or auto means the provider default).
      responses:
        '200':
          description: completion
components:
  schemas:
    Unauthenticated:
      type: object
      required: [code]
      properties:
        code:
          type: string
          example: UNAUTHENTICATED
        error:
          type: string
